* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

header {
    background-color: #000141;
    padding: 20px;
    color: white;
}

h2 {
    font-size: 25px;
}

p {
    font-size: 17px;
    color: #000F98;
}

.leftcolumn {
    float: left;
    width: 70%;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.rightcolumn {
    float: left;
    width: 15%;
    padding-left: 10px;
}